{% include 'admin_header.html' %}
<center>
{% if data['msgs'] %}
	<h1>Complaints and Reply</h1><br>
	<form method="post">
		<table class="table">
			<tr>
				<th>Sl.No</th>
				<th>Name</th>
				<th>Phone</th>
				<th>mail</th>
				<th>Complaint</th>
				<th>Reply</th>
			</tr>
			{% for row in data['msgs'] %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ row['username'] }}</td>
				<td>{{ row['phone'] }}</td>
				<td>{{ row['email'] }}</td>
				<td>{{ row['desc'] }}</td>
				<td>
					{% if row['reply']=='pending' %}
					<input class="form-control" type="text" name="reply{{loop.index}}">
					<input type="submit" class="btn btn-primary" name="submit{{loop.index}}">
					{% else %}
					{{ row['reply'] }}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table><br><br>
	</form>

{% else %}

	<h1>No Complaints Registered Yet</h1>

{% endif %}

</center>
<br><br>
{% include 'footer.html' %}