{% include 'admin_header.html' %}
<center>
	<h1>Customers Details</h1><br>
{% if data['view'] %}
<table class="table-responsive" style="width: 800px !important">
	<tr>
		<th>Sl.No</th>
		<th>Name</th>
		<th>Dob</th>
		<th>Gender</th>
		<th>House Name</th>
		<th>Place</th>
		<th>Pincode</th>
		<th>Phone</th>
		<th>Email</th><th></th><th></th>
	</tr>
	{% for r in data['view'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ r['fullname'] }}</td>
		<td>{{ r['dob'] }}</td>
		<td>{{ r['gender'] }}</td>
		<td>{{ r['place'] }}</td>
		<td>{{ r['house_name'] }}</td>
		<td>{{ r['pincode'] }}</td>
		<td>{{ r['phone'] }}</td>
		<td>{{ r['email'] }}</td>
		<td><a class="btn btn-secondary" href="admin_view_cases?id={{ r['client_id'] }}">Case Details</a></td>
		<td><a class="btn btn-secondary" href="admin_view_case_advocates?id={{ r['client_id'] }}">Advocates</a></td>
		

	</tr>
	{% endfor %}
</table>
{% else %}<br>
<h4 style="color: orange">No Registered Clients</h4><br><br><br>
{% endif %}
</center><br><br><br>
{% include 'footer.html' %}