{% include "advocate_header.html" %}
<center>
	<form>
		<h1>Client Cases</h1>
		<table>
			<tr>
				<th>Sl No</th>
				<th>Client</th>
				<th>Type</th>
				<th>Tiltle</th>
				<th>Description</th>
				<th>Case date</th>
				<th>Police station</th>
				<th>Pincode</th>
				<th>Phone</th>
				<th>Status</th>
			</tr>
			{% for row in data['cases'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['first_name']}} {{row['last_name']}}</td>
				<td>{{row['type_name']}}</td>
				<td>{{row['title']}}</td>
				<td>{{row['description']}}</td>
				<td>{{row['case_date']}}</td>
				<td>{{row['police_station']}}</td>
				<td>{{row['pincode']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['p_status']}}</td>
				{% if row['p_status']=='accepted' %}
				<td><a href="adv_add_case_notes?case_id={{row['case_id']}}">Add Case Notes</a></td>
				<td><a href="adv_upload_case_files?case_id={{row['case_id']}}">Upload Case Files</a></td>
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
	</form><br><br><br><br>
</center>
{% include "footer.html" %}