{% include "advocate_header.html" %}
<center>
	<form method="post">
		<h1>Add Case Notes</h1>
		<table>
			<tr>
				<th>Case Note</th>
				<td><textarea name="note"></textarea></td>
			</tr>

			
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="submit"></td>
			</tr>
		</table>
		
	</form>

	<h1>Added Case Notes</h1>
	<table>
		<tr>
			<th>Sl No</th>
			<th>Case </th>
			<th>Notes</th>
			<th>Note Added On</th>
		</tr>

		{% for row in data['notes'] %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['title']}}</td>
			<td>{{row['description']}}</td>
			<td>{{row['date_time']}}</td>
		</tr>
		{% endfor %}
	</table><br><br><br><br>
</center>
{% include "footer.html" %}