<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Legal Advisors</title>
		
		<!-- Loading third party fonts -->
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/novecento-font/novecento-font.css" rel="stylesheet" >

		<!-- Loading main css file -->
		<link href="/static/style.css" rel="stylesheet" >
		
		<!--[if lt IE 9]>
		<script src="/static/js/ie-support/html5.js"></script>
		<script src="/static/js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div id="site-content">
			
			<header class="site-header">
				<div class="container">
					<a href="advocate_home" id="branding">
						<img src="/static/images/logo.png" alt="Legal Advisor" class="logo">
						<div class="branding-copy">
							<h1 class="site-title">Legal Advisor</h1>
							<small class="site-description">Fight for Justice</small>
						</div>
					</a>

					<nav class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="advocate_home">Home</a></li>
							<li class="menu-item"><a href="advocate_view_case_types">Case Type</a></li>
							<li class="menu-item"><a href="advocate_view_user_cases">User Case</a></li>
							<li class="menu-item"><a href="advocate_view_law_details">Law Details</a></li>
							<li class="menu-item"><a href="adv_view_meeting_list">Meeting Request</a></li>
							<!-- advocate_view_user_cases -->
							<li class="menu-item"><a href="adv_view_client_cases">Client Cases</a></li>
							<li class="menu-item"><a href="adv_view_client_assigned_cases">Assigned Cases</a></li>
							<li class="menu-item"><a href="/login">Logout</a></li>
						</ul>
					</nav>
					<nav class="mobile-navigation"></nav>
				</div>
			</header> <!-- .site-header -->
