{% include "advocate_header.html" %}
			<main class="main-content">
				<div class="hero">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<figure><img src="/static/dummy/lawyers.jpg" alt=""></figure>
							</div>
							<div class="col-md-5">
								<div class="hero-content">
									<h1 class="hero-title">Legal Advisor</h1>
									<p>A Legal Advisor is a person who provides legal advice, often in an official capacity. Government officials that qualify as lawyers (jurist) in certain countries can get the title Legal Adviser.</p>
									<!-- <a href="/login" class="button">Sign Up</a> -->
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .hero-slider -->
				
				<div class="fullwidth-block" data-bg-color="#111113">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h2>Welcome to our website</h2>
								<p>The job of a Legal Advisor is to provide legal counsel to a client including a large corporation or an organization. Sometimes, a Legal Advisor is referred to as “in-house counsel”, “in-house lawyers” and “corporate counsel. ... Their educational path is similar to that of a lawyer.</p>
							</div>
							<div class="col-md-4">
								<div class="latest-news">
									<h3>Latest News</h3>
									<ul>
										<li>
											<h3 class="entry-title"><a href="https://www.livelaw.in/job-updates/legal-jobs-empanelment-of-legal-advisor-indian-institute-of-technology-kanpur-171929">Empanelment of legal advisor at Indian Institute of Technology Kanpur</a></h3>
											<small class="date">07/04/2021</small>
										</li>
										<li>
											<h3 class="entry-title"><a href="https://telanganatoday.com/deepak-verma-says-he-is-the-ombudsman-of-hca">Deepak Verma Says He is the Ombudsman of HCA</a></h3>
											<small class="date">07/04/2021</small>
										</li>
									</ul>
								</div> <!-- .latest-news -->
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block">
					<div class="container">
						<div class="row feature-list-section">
							<div class="col-md-4">
								<div class="feature">
									<header>
										<img src="/static/images/icon-1.png" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Criminal Things</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
									<a href="#" class="more-link">Read More</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<header>
										<img src="/static/images/icon-2.png" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Estate Planning</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
									<a href="#" class="more-link">Read More</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<header>
										<img src="/static/images/icon-3.png" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Employment Law</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
									<a href="#" class="more-link">Read More</a>
								</div>
							</div>
						</div>
						
						<div class="quote-section">
							<div class="quote-slider">
								<ul class="slides">
									<li>
										<figure class="quote-avatar"><img src="/static/dummy/avatar.png"></figure>
										<blockquote>
											<p>A Legal Advisor is a person who provides legal advice, often in an official capacity. Government officials that qualify as lawyers (jurist) in certain countries can get the title Legal Adviser.</p>
											<footer>
												<cite>Jason Howard</cite>
												<span>(LLB, Books author)</span>
											</footer>
										</blockquote>
									</li>
									<li>
										<figure class="quote-avatar"><img src="/static/dummy/avatar.png"></figure>
										<blockquote>
											<p> Sometimes, a Legal Advisor is referred to as “in-house counsel”, “in-house lawyers” and “corporate counsel....</p>
											<footer>
												<cite>Jason Howard</cite>
												<span>(MLB, Books author)</span>
											</footer>
										</blockquote>
									</li>
									<li>
										<figure class="quote-avatar"><img src="/static/dummy/avatar.png"></figure>
										<blockquote>
											<p>The job of a Legal Advisor is to provide legal counsel to a client including a large corporation or an organization !</p>
											<footer>
												<cite>Jason Howard</cite>
												<span>(MLL, Advocate)</span>
											</footer>
										</blockquote>
									</li>
									<li>
										<figure class="quote-avatar"><img src="/static/dummy/avatar.png"></figure>
										<blockquote>
											<p>A Legal Advisor is a person who provides legal advice, often in an official capacity. Government officials that qualify as lawyers (jurist) in certain countries can get the title Legal Adviser!</p>
											<footer>
												<cite>Jason Howard</cite>
												<span>(Advocate)</span>
											</footer>
										</blockquote>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->


{% include 'footer.html' %}