{% include 'clerk_header.html' %}
<div class="fullwidth-block" data-bg-color="#111113">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h2>Clerk Portal</h2>
								<p>The job of a Legal Advisor is to provide legal counsel to a client including a large corporation or an organization. Sometimes, a Legal Advisor is referred to as “in-house counsel”, “in-house lawyers” and “corporate counsel. ... Their educational path is similar to that of a lawyer.</p>
							</div>
							<!-- <div class="col-md-4">
								<div class="latest-news">
									<h3>IMPORTANT</h3>
									<ul>
										<li>
											<h3 class="entry-title"><a href="admin_view_advocate">New Advocates</a></h3>
											<small class="date">Check and Manage</small>
										</li>
										<li>
											<h3 class="entry-title"><a href="admin_manage_case_types">Manage Case Types Now</a></h3>
											<small class="date">Update Case types Now!!</small>
										</li>
									</ul> -->
								</div> <!-- .latest-news -->
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->
{% include 'footer.html' %}