{% include 'clerk_header.html' %}
<center>
	<h1>Payment Details</h1><br>
{% if data['view'] %}
<table class="table-responsive" style="width: 800px !important">
	<tr>
		<th>Sl.No</th>
		<th>Client</th>
		<th>Advocate</th>
		<th>Amount</th>
		<th>Date</th>
		
	</tr>
	{% for r in data['view'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ r['clientname'] }}</td>
		<td>{{ r['advname'] }}</td>
		<td>{{ r['amount'] }}</td>
		<td>{{ r['date'] }}</td>
		
	</tr>
	{% endfor %}
</table>
{% else %}<br>
<h4 style="color: orange">No Payments Registered </h4><br><br><br>
{% endif %}
</center><br><br><br>
{% include 'footer.html' %}